body {
    background-color: #e0c9a9
}

.red {
    color: brown;
}

h4.center {
    text-align: center;
}

h3.center {
    display: inline-block;
    background-color: brown;
    color: white;
    border: 1px solid brown;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}

ul, ol {
width: 400px;
margin: 0 auto;
}


footer.center {
    font-size: xx-large;
    color: brown;
    width: max-content;
    margin-left: 75%;
}